################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Crawler.Agoda/packages
/Crawler.Agoda/Crawler.Agoda/bin/Debug
/Crawler.Agoda/Crawler.Agoda/obj/Debug
/Crawler.Agoda/Crawler.TripCom/obj/Debug
/Crawler.Agoda/Crawler.TripCom/bin/Debug
/Crawler.Agoda/Crawler.AddExtentions/obj/Debug
/Crawler.Agoda/Crawler.AddExtentions/bin/Debug
